@import url(//fonts.googleapis.com/css?family=Lato:300:400);

:root {
    --azul: #2a3773;
    --azulescuro: #1e2852;
}

body {
    margin: 0;
    background-color: var(--azulescuro);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kanban {
    display: flex;
    padding: 30px;
    width: 750px;
    background: var(--azul);
    border-radius: 5px;
    flex: 0 0 auto;
    margin-bottom: 1rem;
}

.kanban * {
    font-family: 'Lato', sans-serif;
}

.kanban__coluna {
    flex: 1;
}

.kanban__coluna:not(:last-child) {
    margin-right: 30px;
}

.kanban__coluna-titulo {
    margin-bottom: 20px;
    font-size: 30px;
    color: white;
    -webkit-user-select: none;
    user-select: none;
}

.kanban__item-entrada {
    padding: 10px 15px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}

.kanban__arraste {
    height: 10px;
    transition: background 0.15s, height 0.15s;
}

.kanban__arraste--ativo {
    height: 20px;
    background: rgba(0, 0, 0, 0.25);
}

.kanban__add-item {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.header {
    width: 100%;
    position: relative;
    text-align: center;
    background-image: linear-gradient(to bottom, #2a3773, #27336b, #242f62, #212c5a, #1e2852); 
    color:white;
    margin-bottom: 1rem;
}

.header h1 {
    font-family: 'Lato', sans-serif;
    font-weight:300;
    letter-spacing: 0.15rem;
    font-size: 3rem;
}

.rodape {
    width: 810px;
}

.rodape h2 {
    font-family: 'Lato', sans-serif;
    color: white;
    letter-spacing: 0.15rem;
    font-size: 2rem;
}

.rodape p {
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 1rem;
}